body {
  background-image: url("https://images3.alphacoders.com/597/597944.jpg");
  background-size: 100em;
  color: mediumvioletred;
  font-family: 'Roboto', serif;
  font-size: 20px;
}

h1, h2 {
  font-family: 'Rokkitt', serif;
  text-align: center;
}

img {
  float: left;
  width: 200px;
  margin: 10px 20px 10px 20px;
}